.name-headline {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 48px;
}

.sub-headline {
    font-size: 24px;
    font-weight: 500;
    color: #3C3C3C;
}

.text-headline {
    font-size: 18px;
    font-weight: 400;
    color: #747474;
}

.avatar {
    max-width: 510px;
    max-height: 510px;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: var(--primary-color) !important;
    font-weight: 700;
}

.resume-heading {
    font-weight: 700;
    font-size: 22px;
    z-index: 0;
}

.resume-heading {
    position : relative;
}

.resume-heading::after {
    content : "";
    position : absolute;
    width : 53px;
    height : 3px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
  }  