:root {
    --primary-color: #D14000;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;
}

body {
    font-family: 'Montserrat';
    font-size: 22px;
}

.primary-color-txt {
    color: var(--primary-color);
}

body>.navbar .brand {
    margin-left: 30px !important;
    margin-top: 30px !important;
}

.navbar-nav li {
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}

.navbar-nav a:hover,
a:focus,
a:active {
    color: #999;
    text-decoration: none;
}

.navbar-nav a {
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}

.navbar-nav a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
}

.navbar-nav a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--primary-color);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
}

.navbar-nav a:active::before {
    background-color: var(--primary-color);
}

.navbar-nav a:hover::before,
a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.nav-link {
    font-weight: 400;
    color: #3C3C3C;
}

.underlined-link {
    position: relative;
}

.underlined-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    bottom: 3px;
    left: 0;
}

.portfolio-heading {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 48px;
}

.divider {
    margin-left: 10px;
    margin-right: 10px;
}

.work-text {
    font-size: 18px;
    font-weight: 400;
    color: #747474;
}

.work-text-bigger {
    font-size: 18px;
    font-weight: 400;
    color: #747474;
}

.work-claim {
    font-size: 24px;
    font-weight: 500;
    color: #3C3C3C;
}

.underlined-heading {
    font-weight: 700;
    font-size: 22px;
    z-index: 0;
}

.underlined-heading {
    position: relative;
}

.underlined-heading::after {
    content: "";
    position: absolute;
    width: 53px;
    height: 3px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
}

.work-heading {
    font-weight: 600;
    font-size: 34px;
    color: var(--primary-color);
}

.pain-point-icon {
    background: var(--primary-color);
    border-radius: 50%;
    width: 40px; 
    height: 40px;
    color: #fff;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
}

.pain-point-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-subtitle {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
}

.paper-wireframe-text {
    font-size: 18px;
    font-weight: 400;
    color: #747474;
    text-justify: auto;
}

.interlined {
    line-height: 30px;
}


.usability-heading {
    font-size: 20px;
    font-weight: 700;
    color: #1E1E1E;
}

.upperlined {
    position: relative;
}

.upperlined::before {
    content: "";
    position: absolute;
    width: 53px;
    height: 3px;
    background-color: var(--primary-color);
    bottom: 100%;
    left: 0;
}

.solution-heading {
    font-size: 20px;
    font-weight: 700;
    color: #747474;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
  }